<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm *ngIf="forgotpasswordForm" [formGroup]="forgotpasswordForm" (ngSubmit)="forgotPass()" class="offset-md-2 col-md-8 my-5">
                  <h1>Forgot Password</h1>
                  <!-- <p class="text-medium-emphasis">Sign In to your account</p> -->
                  <c-input-group class="mb-3">
                    <span cInputGroupText>@</span>
                    <!-- <input autoComplete="email" cFormControl placeholder="Email" /> -->
                    <input autoComplete="email" cFormControl placeholder="Email" type="email" class="form-control" id="email"  formControlName="email" [ngClass]="{'is-valid': submitted && !forgotpasswordForm.get('email')?.errors ,'is-invalid': submitted && forgotpasswordForm.get('email')?.errors}">
                    <div class="invalid-feedback" *ngIf="submitted && forgotpasswordForm.get('email')?.hasError('required')">
                      Email is required.
                    </div>
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button cButton class="px-4" color="primary" routerLink="/reset-password">
                        Change Password 
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>